.total-list{
	list-style: none;
	display:flex;
	flex-direction: column;
	background: var(--n-magnolia);
	padding:1rem;
	margin-bottom: 2rem;
}

.total-item{
	padding: 0.5rem;
	display:flex;
	justify-content: space-between;
}

.total-item *{
	align-self: center;
}

.total-list .total-item:first-child span{
	font-weight: 800;
	font-size: var(--fs-xl);
}

.total-item span{
	color:var(--p-marine-blue);
	font-size: var(--fs-xl);
}

.total-list .total-item:first-child h2{
	font-size:var(--fs-xl);
	color:var(--p-marine-blue)
}

.total-item h2{
	font-size: var(--fs-xl);
	font-weight: 400;
	color: var(--n-cool-gray);
}

.total-item button{
	border:none;
	background: none;
	cursor:pointer;
	text-decoration: underline;
	font-size:var(--fs-xl);
	color:var(--n-cool-gray);
}

.total-list p{
	font-size:var(--fs-l);
	color: var(--n-cool-gray)
}

.total-list li:first-child{
	border-bottom: 1px solid var(--n-cool-gray);
	margin-bottom: 1rem;
}

.total-item .total{
	font-size: var(--fs-xxl);
	font-weight: 800;
	color:var(--p-purple-blue);
}